<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>收集表單資料</title>
		<script type="text/javascript" src="../js/vue.js"></script>
	</head>
	<body>
		<!-- 
			收集表單資料：
				若為 <input type="text"/>，則v-model收集的是value的值，也就是來自使用者输入。
				若為 <input type="radio"/>，則v-model收集的是value的值，但必須先配給該標籤value。
				若：<input type="checkbox"/>
					1.若沒有配置input的value屬性，那麼收集的就是checked（勾選 or 未勾選，是布林值）
					2.若有配置input的value屬性:
						(1)若v-model的初始值是非陣列的值，那麼收集的就是checked（勾選 or 未勾選，是布林值）
						(2)若v-model的初始值是陣列，那麼收集的的就是value所组成的陣列
				附加：v-model的三个修飾符：
					lazy：當失去焦点時才會觸發收集資料
					number：輸入的字串會被轉為數值
					trim：輸入的值的首尾，若有空格則會被濾掉，而首尾之間的空格則不會
		-->
		<!-- 準備好一個容器-->
		<div id="app" @submit.prevent="submit">
			<form>
				帳號：<input type="text" v-model="memberInfo.account"> <br/><br/>
				密碼：<input type="password" v-model="memberInfo.pwd"> <br/><br/>
				年齡：<input type="number" v-model.number="memberInfo.age"> <br/><br/>
				性别：
				男<input type="radio" name="gender" v-model="memberInfo.gender" value="male">
				女<input type="radio" name="gender" v-model="memberInfo.gender" value="female"> <br/><br/>
				愛好：
				聽音樂<input type="checkbox" v-model="memberInfo.hobbies" value="music">
				玩電玩<input type="checkbox" v-model="memberInfo.hobbies" value="game">
				吃東西<input type="checkbox" v-model="memberInfo.hobbies" value="eat">
				<br/><br/>
				居住地
				<select v-model="memberInfo.area">
					<option value="">请選擇地區</option>
					<option value="taipei">台北</option>
					<option value="taichung">台中</option>
					<option value="tainan">台南</option>
					<option value="kaoshiung">高雄</option>
				</select>
				<br/><br/>
				其他信息：
				<textarea></textarea> <br/><br/>
				<input type="checkbox" v-model="memberInfo.isAgree">閱讀並接受<a href="http://www.atguigu.com">《用户協議》</a>
				<button>提交</button>
			</form>
		</div>
	</body>

	<script type="text/javascript">
		Vue.config.productionTip = false

		new Vue({
			el:'#app',
			data:{
				memberInfo: {
					account: '',
					pwd: '',
					age: 0,
					gender: 'male',
					hobbies: [],
					area: '',
					isAgree: false
				}
			},
			methods: {
				submit(e) {
					console.log('送出的會員資料: ', JSON.stringify(this.memberInfo));
				}
			}
		})
	</script>
</html>